$gray-color = #999999
$gray-color-dark = #666666
$blue-color = #36a2c1
$green-color = #008000
$white-color = #ffffff
$black-color = #000000
$red-color = red

$box-shadow-btn = 3px 3px #3c7e9f

$root-font-size = 14px


